.DS_Store
.idea
.gradle
grafana.db
build
/data/*
/tmp
/connect/docker/downloads/*
/connect/connect-lib/*
/mysql/old/data/*
/oracle/data/*
/oracle/KAFKA_MAIN_data.tar
/oracle/KAFKA_MAIN_data.tar.gz
/oracle/init.d/startup/*_data*.sql
/oracle/init.d/startup/*_DATA*.sql
/oracle/init.d/startup.stage/*_data*.sql
/oracle/init.d/startup.stage/*_DATA*.sql
/ksqlDB/ksqldb-udfs/*
*_data.sql
*.jar
